@model IEnumerable<BarbieMVC.Models.Arbs_Football_MatchWinner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Live Arbs</h2>

@foreach (var fixtures in Model.GroupBy(x => x.FixtureMapID))
{
    <h3>Home Team: @Html.Encode(fixtures.Select(x => x.HomeTeam).First())</h3>
    <h3>Away Team: @Html.Encode(fixtures.Select(x => x.AwayTeam).First())</h3>
    <h3>MatchDateTime: @Html.Encode(fixtures.Select(x => x.MatchDateTime).First())</h3>
    <br/>
    
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Predication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookieOdds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetFairOdds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetFairCash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetFairUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddsCheckerUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
        </tr>

        @foreach (var fixture in fixtures)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fixture.Predication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.Bookie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.BookieOdds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.BetFairOdds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.BetFairCash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.BetFairUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.OddsCheckerUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fixture.Created)
                </td>
            </tr>
        }
    </table>
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetFairOdds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookieOdds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetFairCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetFairUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OddsCheckerUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixtureMapID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BetFairOdds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookieOdds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BetFairCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bookie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BetFairUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OddsCheckerUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixtureMapID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expired)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
