@model BarbieSite.Models.FootballArb

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FootballArb</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fixture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fixture)
            @Html.ValidationMessageFor(model => model.Fixture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MatchDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatchDateTime)
            @Html.ValidationMessageFor(model => model.MatchDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BetFairOdds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BetFairOdds)
            @Html.ValidationMessageFor(model => model.BetFairOdds)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookieOdds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BookieOdds)
            @Html.ValidationMessageFor(model => model.BookieOdds)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BetFairCash)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BetFairCash)
            @Html.ValidationMessageFor(model => model.BetFairCash)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bookie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bookie)
            @Html.ValidationMessageFor(model => model.Bookie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Predication)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Predication)
            @Html.ValidationMessageFor(model => model.Predication)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BetFairUpdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BetFairUpdated)
            @Html.ValidationMessageFor(model => model.BetFairUpdated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OddsCheckerUpdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OddsCheckerUpdated)
            @Html.ValidationMessageFor(model => model.OddsCheckerUpdated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Updated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Updated)
            @Html.ValidationMessageFor(model => model.Updated)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
