@model BarbieSite.Models.FootballArb

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>FootballArb</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fixture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fixture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MatchDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MatchDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BetFairOdds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BetFairOdds)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookieOdds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookieOdds)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BetFairCash)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BetFairCash)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bookie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bookie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Predication)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Predication)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BetFairUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BetFairUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OddsCheckerUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OddsCheckerUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updated)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
